/*
* @Author: liuxiaoyu
* @Date:   2017-03-24 15:01:31
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-11 14:33:33
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

a{
	text-decoration: none;
}

.container{
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
}
.site-topbar{
	position: relative;
	height: 40px;
	font-size: 12px;
	color: #b0b0b0;
	background: #333;
}
.site-topbar .container{
	width: 1226px;
	margin: 0 auto;
}
.topbar-left{
	float: left;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}
.topbar-right{
	float: right;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}
.site-topbar a{
	color: #b0b0b0;

}
.topbar-right .car{
	width: 120px;
	margin-left: 15px;
	float: right;
	height: 40px;
	
}
.topbar-right .car a{
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #b0b0b0;
	background: #424242;
}
.site-header{
	height: 100px;
	position: relative;
}
.site-header .container{
	width: 1226px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	

}
.site-header .container .headerlogo{
	float: left;
	width: 62px;
	margin-top: 22px;
	overflow: hidden;
}
.site-header .container .headerlogo .logo1{
	width: 55px;
	height: 55px;
	display: block;
	position: relative;
	overflow: hidden;
}
.headerlogo .logo2 .link-block{
	position: absolute;
	left: 140px;
	bottom: 0px;
	width: 165px;
	height: 100px;
	background-image: url(../img/dayishujia.gif);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 2;
}
.site-header .container .header-nav{
	float: left;
	width: 850px;
}
.site-header .nav-list{
	/* position: relative; */
	float: left;
	width: 820px;
	height: 88px;
	padding: 12px 0px 0px 30px;
	z-index: 1;
	font-size: 16px;
}
.site-header .nav-list .dayishujia{
	float: left;
	position: relative;
	width: 127px;
	padding-right: 15px;
}
.nav-list .dayishujia .da{
	display: block;
	padding: 26px 0 38px;
	text-align: right;
	color: #333;
}
.nav-list .dayishujia .site-category{
	position: absolute;
	top: 88px;
	left: -93px;
	z-index: 2;
	width: 234px;
	height: 460px;
	font-size: 14px;
	
}
.nav-list .dayishujia .site-category .categorylist{
	height: 420px;
	border: 0;
	color: #fff;
	background: #333; 
	background: rgba(0, 0, 0, 0.6);
	margin: 0;
	padding: 20px 0;

}
/* .categorylist .category-item-active .title{
	background: #ff6700;
	color: #fff;

} */
.categorylist .category-item .title{
	color: #fff;
	position: relative;
	display: block;
	padding-left: 30px;
	height: 42px;
	line-height: 42px;

}
.categorylist .title i{
	color: #fff;
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 12px;
	right: 20px;
	font-size: 16px;
	line-height: 16px;
}
/* .iconfont{
	font-family: "iconfont" !important;
	font-size: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;

} */
/* 

.categorylist .children-col-3{
	width: 795px;
}
.categorylist .children{
	display: none;
	position: absolute;
	left: 234px;
	top: 0;
	z-index: 2;
	height: 458px;
	border: 1px solid #e0e0e0;
	background: #fff;
}
.clearfix{

} */


.site-header .nav-list .nav-item{
	float: left;
	font-size: 16px;
	overflow: hidden;
	/* position: relative; */
	
}


.site-header .nav-list .nav-item .link{
	 display: block; 
	padding: 26px 8px 43px; 
	color: #333;
	font-size: 17px;

} 




.nav-item .erji{
	position: absolute;
	top: 100px;
    left: 0px;
    z-index: 3; 
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	/* background: red; */
}
.link .erji{
	display: none;
}
.link:hover .erji{
	display: block;
}


.site-header .header-search{
	float: right;
	width: 296px;
	margin-top: 25px;
}
.site-header .search-form{
	position: relative;
	width: 296px;
	height: 50px;
	display: block;
}
.site-header .search-form .search-text{
	position: absolute;
	top: 0;
	right: 51px;
	z-index: 1;
	width: 223px;
	height: 48px;
	padding: 0 10px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	line-height: 48px;
	background: white;
	display: inline-block;
	text-align: start;
}
.site-header .search-form-focus .search-text{
	border-color: #ff6700;
}
.site-header .search-form .search-btn{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	font-size: 24px;
	line-height: 14px;
	background: #fff;
	color: #616161;
	outline: 0;
}
.site-header .search-form .search-hotwords{
	position: absolute;
	top: 14px;
	right: 62px;
	z-index: 2;
	text-align: right;
	line-height: 2;
}
.search-hotwords a{
	display: inline-block;
	margin-left: 5px;
	padding: 0 5px;
	font-size: 12px;
	background: #eee;
	color: #757575;

}
.site-header .search-form .keyword-list{
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 2;
	width: 243px;
	border: 1px solid #ff6700;
	border-top: 0;
	background: #fff;

}
.keyword-list ul{
	margin: 0;
	padding: 0;
}
.keyword-list li a{
	position: relative;
	padding: 6px 15px;
	font-size: 12px;
	color: #424242;
}
.keyword-list li .result{
	position: absolute;
	right: -15px;
	top: 6px;
	color: #b0b0b0;
}

.home-hero-container{
	position: relative;
	z-index: 1;

}
.home-hero{
	position: relative;
	margin-bottom: 26px;
	
}
.home-hero-slider{
	position: relative;
	height: 460px;
	overflow: hidden;
	background: gray;
}	
.ui-wrapper{
	position: relative;
	margin: 0;
	padding: 0;
	/* background: red; */
}
.home-hero-sub{
	margin-top: 14px;
	overflow: hidden;
}
.row{
	margin-left: -14px;
}
.span4{
	width: 234px;
	float: left;
	margin-left: 14px;
	min-height: 1px;
}
.home-channel-list{
	margin: 0;
	padding: 3px;
	font-size: 12px;
	text-align: center;
	background: #5f5750;
	overflow: hidden;
}
.home-channel-list li{
	position: relative;
	float: left;
	width: 70px;
	height: 82px;
	padding: 0 3px;
	
}
.home-channel-list a{
	display: block;
	padding-top: 18px;
	overflow: hidden;
	color: #fff;
	color: rgba(255, 255, 255, 0.7);
}
.home-channel-list i{
	display: block;
	height: 24px;
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 24px;
}
.span16{
	width: 978px;
	float: left;
	margin-left: 14px;
	min-height: 1px;
}
.home-promo-list{
	margin: 0;
	padding: 0;
}
.home-promo-list li.first{
	margin-left: 0;
}
.home-promo-list li{
	float: left;
	width: 316px;
	height: 170px;
	margin-left: 15px;

}
.home-promo-list a{
	display: block;
	height: 170px;

}
.home-promo-list img{
	width: 316px;
	height: 170px;

}
.xm-plain-box .box-hd{
	position: relative;
	height: 58px;
}
.xm-plain-box .box-hd .title{
	margin: 0;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}
.xm-plain-box .box-hd .more{
	position: absolute;
	top: 0;
	right: 0;
}
.home-star-goods .box-hd .more{
	position: absolute;
	top: 24px;
	right: 0；
}
.home-star-goods .boxbd{
	position: relative;
	width: 1226px;
	overflow: hidden;
	padding-bottom: 40px;
	background: blue;

}
.home-star-goods .goods-list{
	height: 340px;
	overflow: hidden;
}
.home-star-goods .rainbow-list .rainbow-item-1{
	border-top-color: #ffac13;
}
.home-star-goods .rainbow-list .rainbow-item-2{
	border-top-color: #83c44e;
}
.home-star-goods .rainbow-list .rainbow-item-3{
	border-top-color: #2196f3;
}
.home-star-goods .rainbow-list .rainbow-item-4{
	border-top-color: #e53935;
}
.home-star-goods .rainbow-list .rainbow-item-5{
	border-top-color: #00c0a5;
}
.home-star-goods .goods-list li{
	height: 300px;
	padding-top: 39px;
	border-top-width: 1px;
	border-top-style: solid;
	text-align: center;
	background: #fafafa;

}
.xm-carousel-col-5-list li{
	float: left;
	width: 234px;
}
.xm-carousel-list li{
	margin-right: 14px;
}
.home-star-goods .goods-list .thumb{
	display: block;
	width: 160px;
	margin: 0 auto 22px;

}
.home-star-goods .goods-list .thumb img{
	width: 160px;
	height: 160px;
}
.home-star-goods .goods-list .title{
	color: #212121;
	margin: 0 20px 3px;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
}
.home-star-goods .goods-list .desc{
	height: 18px;
	margin: 0px 20px 12px;
	font-size: 12px;
	overflow: hidden;
	color: #b0b0b0;
}
.home-star-goods .goods-list .price{
	margin: 0;
	color: #ff6700;
	height: 21px;
}
.page-main{
	background: #f5f5f5;
}
.home-main{
	padding-top: 60px;
}
.home-brick-row-2-box{
	height: 686px;
}
.home-brick-box{
	margin-bottom: 8px;
}
.home-brick-box .box-hd{
	position: relative;
	height: 58px;
}
.home-brick-box .box-hd .title{
	margin: 0;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}
.home-brick-box .box-hd .more{
	position: absolute;
	top: 0;
	right: 0;
	
}
.home-brick-box .box-hd .more .more-link:hover{
	color: #ff6700;
}
.home-brick-box .box-hd .more .more-link{
	font-size: 16px;
	line-height: 58px;
	color: #424242;

}
.home-video-box .box-hd .more .more-link{
	font-size: 16px;
	line-height: 58px;
	color: #424242;

}
.home-brick-box .brick-promo-list{
	margin: 0 0 -14px -14px;
	height: 614px;
	padding: 0;

}

.brick-item-1{
	height: 614px;
}
.brick-item{
	position: relative;
	z-index: 1;
	float: left;
	width: 234px;
	margin-left: 14px;
	margin-bottom: 14px;
	background: #fff;

}
.brick-promo-list a{
	display: block;
	width: 100%;
	height: 100%;

}
.brick-promo-list .brick-item-1 img{
	height: 614px;
}
.brick-promo-list img{
	width: 234px;
}
.home-brick-box .brick-list{
	margin: 0 0 -14px -14px;
	width: 992px;
	height: 614px;

}
.brick-item-m-2{
	height: 260px;
	padding: 20px 0;
}
.brick-item-m-2 .figure-img{
	width: 160px;
	height: 160px;
}
.brick-item-m .figure-img{
	margin: 0 auto 18px;
}
.brick-item-m .figure-img a{
	display: block;
}
.brick-item-m-2 .title{
	margin: 0 10px 2px;
}
.brick-item-m .title{
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #333;
}
.brick-item-m .title a{
	display: block;
	overflow: hidden;
	color: #333;
}

.brick-item-m .desc{
	margin: 0 10px 10px;
	height: 18px;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
}
.brick-item-m-2 .price{
	margin: 0 10px 14px;
}
.brick-item-m .price{
	text-align: center;
	color: #ff6700;
	height: 21px;

}
.xm-plain-box .box-hd .more .tab-list {
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}
.home-brick-box .box-hd .more .tab-list li{
	margin: 0 0 0 30px;
}
.xm-plain-box .box-hd .more .tab-list li{
	display: inline-block;
	padding: 0;
	color: #424242;
	font-size: 16px;
}
.xm-plain-box .box-hd .more .tab-list li:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.brick-promo-list .brick-item-m img{
	height: 300px;
}
.brick-promo-list img{
	width: 234px;
}
.brick-item-s{
	height: 93px;
	padding-top: 50px;
}
.brick-item{
	position: relative;
	z-index: 1;
	float: left;
	width: 234px;
	margin-left: 14px;
	margin-bottom: 14px;
	background: #fff;
}
.brick-item-s .figure-img{
	position: absolute;
	right: 20px;
	top: 32px;
	width: 80px;
	height: 80px;
}
.brick-item-s .title{
	margin: -10px 110px 5px 30px;
	font-size: 14px;
	font-weight: 400;
}
.brick-item-s .title a{
	display: block;
	overflow: hidden;
}
.brick-item-s .price{
	margin: 0 110px 0 30px;
	font-size: 12px;
	color: #ff6700;
}
.xm-recm-box{
	margin-bottom: 22px;
}
.home-brick-row-1-box{
	height: 358px;
}
.xm-plain-box .box-hd{
	position: relative;
	height: 58px;

}
.xm-plain-box .box-hd .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.home-recm-box .xm-carousel-wrapper{
	height: 320px;
	overflow: hidden;
	position: relative;
	width: 1226px;
}
.xm-carousel-col-5-list{
	width: 1226px;
	margin-left: 0px;
}
.xm-recommend ul .xm-carousel-list li{
	margin-right: 14px;
}
.xm-recommend ul li{
	margin-bottom: 14px;
	height: 300px;
	background-color: #fff;
	text-align: center;
	position: relative;

}
/* .xm-recommend ul .xm-carousel-list li{
	margin-right: 14px;
} */
.xm-recommend dl{
	padding: 0 20px;
	margin-bottom: 0;
}
.xm-recommend dl dt{
	padding: 40px 0 15px;
	height: 145px;
}
.xm-recommend dl dt img{
	width: 140px;
	height: 140px;
	margin: 0;

}
.xm-recommend .xm-recommend-name{
	margin-bottom: 10px;
	height: 18px;
	overflow: hidden;
}
.xm-recommend dl dd{
	margin-left: 0;
}
.xm-recommend .xm-recommend-name a {
    color: #333;
}
.xm-recommend .xm-recommend-price {
    margin-bottom: 10px;
    color: #ff6700;
}
.xm-recommend .xm-recommend-tips {
    position: relative;
    color: #757575;
}
.xm-carousel-list .zuihou{
	margin-right: 0;
}
.J-xm-recommend-list dl dt a .bijiben{
	margin-right: 0;
}
.home-review-box {
    margin-bottom: 22px;
}
.review-list {
    width: 1240px;
    height: 415px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.review-item:first-child, .review-item-first {
    margin-left: 0;
}
.review-item {
   
    position: relative;
    float: left;
    width: 296px;
    height: 415px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
   
}

.review-item .figure-img {
    width: 296px;
    height: 220px;
    margin: 0 0 28px;
}
.review-item .figure-img a {
    display: block;
}
.review-item .figure-img img {
    width: 296px;
    height: 220px;
}
.review-item .review {
    height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
    
}
.review-item .review a {
    display: block;
}
.review-item .review a {
    color: #333;
}
.review-item .author {
    position: relative;
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.review-item .info {
    margin: 0 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}
.review-item .title {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    overflow: hidden;
    color: #333;
}
.home-review-box .sep {
    color: #e0e0e0;
}
.review-item .price {
    display: inline;
    margin: 0;
    color: #ff6700;
}
.review-item .price {
    display: inline;
    margin: 0;
    color: #ff6700;
}
.xm-plain-box .box-hd .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.xm-plain-box .box-hd {
    position: relative;
    height: 58px;
}
.home-content-box {
    margin-bottom: 22px;
}
.content-list {
    width: 1240px;
    height: 420px;
    margin: 0;
    padding: 0;
}
.content-item-first {
    margin-left: 0;
}
.content-item-book {
    border-top-color: #ffac13;
    color: #ffac13;
}
.content-item {
    position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
   
}
.content-item .title {
    margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.xm-carousel-wrapper{
	height: 340px;
    overflow: hidden;
}
.content-item .item-list {
    height: 340px;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    color: #333;
}
.content-item .item-list li {
    float: left;
    width: 296px;
    height: 340px;
}
.content-item .name {
    margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    overflow: hidden;
    width: 256px;
    height: 25px;
}
.content-item .name a {
    display: block;
    overflow: hidden;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: #333;
}
.content-item .desc {
	width: 200px;
	height: 40px;
    margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    color: #b0b0b0;
}
.content-item .desc a{
	color: #b0b0b0;
}
.content-item .price {
	width: 276px;
    height: 21px;
    margin: 0 10px 15px;
    text-align: center;
    color: #333;
}
.content-item .figure-img {
    width: 216px;
    height: 154px;
    margin: 0 40px;
}
.content-item .figure-img a {
    display: block;
    height: 154px;
}
.content-item .figure-img img {
    width: 216px;
    height: 154px;
    display: block;
}
.content-item-first{
	margin-left: 0;
	border-top-color: #ffac13; 
}
.content-item-second{
	border-top-color: #83c44e; 
}
.content-item-second .title{
	color: #83c44e; 
}
.content-item-third{
	border-top-color: #e53935; 
}
.content-item-third .title{
	color: #e53935; 
}
.content-item-four{
	border-top-color: #2196f3; 
}
.content-item-four .title{
	color: #2196f3; 
}
.video-list {
    width: 1240px;
    height: 285px;
    margin: 0;
    padding: 0;
}
.video-item {
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background: #fff;
}
.video-item-first {
    margin-left: 0;
}
.video-item .figure-img {
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}
.video-item .figure-img a {
    display: block;
    height: 180px;
}
.video-item .figure-img img {
    width: 296px;
    height: 180px;
}
.video-item .play {
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: #424242;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
}
.video-item .play:hover{
	background-color: #ff6700;
	border: 0;
}
.video-item .title a:hover{
	color: #ff6700;
}
.home-video-box .box-hd .more a:hover{
	color: #ff6700;
}
.video-item .play i {
    font-size: 30px;
    line-height: 13px;
}
.video-item .title {
    margin: 0 0 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    height: 21px;
}
.video-item .title a {
    color: #333;
    font-size: 16px;
}
.video-item .desc {
    height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
}
.page-main{
	padding-bottom: 80px;
}
.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
    height: 25px;
}
.site-footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.site-footer .list-service li{
    border-left: 0;
}
.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.site-footer .list-service a {
    color: #616161;
    font-size: 17px;
    display: block;
   
}
.site-footer .footer-links {
    padding: 40px 0;
    width: 1226px;
    height: 112px;
}
.site-footer .footer-links .col-links {
    float: left;
    width: 160px;
    height: 112px;
    margin: 0;
}
.site-footer .footer-links .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.site-footer .footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}
.site-footer .footer-links .col-links a {
    color: #757575;
    display: block;
}
.site-footer .footer-links .col-contact {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.site-footer .footer-links .col-contact .phone {
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.site-footer .footer-links .col-contact p {
    margin: 0 0 16px;
    font-size: 12px;
}
.btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}
.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}
.site-info{
	width: 100%;
	height: 106px;
	padding: 30px 0;
	font-size: 12px;
    background: #fafafa;
}
.site-info .container{
	width: 1226px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}
.site-info .logo{
	width: 57px;
	height: 57px;
	margin-right: 10px;
	float: left;
	background: url(../img/logo.png) 50% 50%;
}
.site-info .text{
	float: left;
    color: #b0b0b0;
    overflow: hidden;
    font-size: 12px;
}
.site-info .text .sep{
	width: 6px;
	height: 12px;
	margin: 0 -6px;
}

.site-info .text p {
    margin: 0;
    line-height: 18px;
}
.site-info .text a{
	color: #b0b0b0;
	font-size: 12px;
}
.site-info .text a:hover{
	color: #ff6700;
}
.site-info .info-links{
    float: right;
    height: 28px;
    margin: 4px 0 0;
}
.site-info .info-links img{
	width: auto;
	height: 28px;
	margin-left: 7px;
	display: block;
	float: left;
}
.site-info .dibu{
	background: url(../img/zi.png) center 0;
	margin: 30px auto 0;
    width: 267px;
    height: 19px;
}
.footer-links .col-links a:hover{
	color: #ff6700;
}
.footer-service .list-service a:hover{
	color: #ff6700;
}


/* 上移效果开始 */
.home-brick-box .box-bd .row .brick-item:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 20px 3px #ccc;
	transition: all .3s linear;
}
.home-recm-box .box-bd .J-xm-recommend-list:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 20px 3px #ccc;
	transition: all .3s linear;
}
.home-review-box .box-bd .review-item:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 20px 3px #ccc;
	transition: all .3s linear;
}
.home-content-box .box-bd .content-item:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 20px 3px #ccc;
	transition: all .3s linear;
}
.home-video-box .box-bd .video-item:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 20px 3px #ccc;
	transition: all .3s linear;
}

/* 上移效果结束 */

/* 黄块上移效果开始 */
.xiangdui{
	position: relative;
	overflow: hidden;
}
.juedui{
	width: 234px;
	height: 75px;
	position: absolute;
	bottom: -75px;
	left: 0px;
	overflow: hidden;
	font-size: 12px;
	background: #ff6700;
	transition: all .3s linear;
}
.juedui a{
	display: block;
	padding: 8px 30px;
	outline: 0;
}
.juedui .review{
	margin-bottom: 5px;
	color: #fff;
	display: block;
}
.juedui .author{
	color: rgba(255, 255, 255, 0.6);
	display: block;
}
.xiangdui:hover .juedui{
	bottom: 0;
}
/* 黄块上移效果结束 */
.xiala{
	width: 100%;
	height: 300px;
	border-top: 1px solid #ccc;
	background: red;
}
.span{
	position: relative;
}
.home-hero-sub .span4 .leftnav{
	position: absolute;
	bottom: 184px;
	left: 0px;
	width: 234px;
	height: 460px;
}
.home-hero-sub .span4 .leftnav .leftnav-1{
	height: 420px;
	padding: 20px 0;
    border: 0;
    color: #fff;
    background: #333;
    background: rgba(0,0,0,0.6);
}
.home-hero-sub .span4 .leftnav .leftnav-1 .leftnav-item{
	width: 204px;
	height: 42px;
	line-height: 42px;
	padding-left: 30px;
	position: relative;
}
.home-hero-sub .span4 .leftnav .leftnav-1 .leftnav-item .title{
	font-size: 14px;
	color: #fff;
}
.home-hero-sub .span4 .leftnav .leftnav-1 .leftnav-item .iconfont{
	position: absolute;
    top: 12px;
    right: 20px;
    font-size: 14px;
    line-height: 14px;
}
.home-hero-sub .span4 .leftnav .leftnav-1 .leftnav-item:hover{
	background: #ff6700;
}
.home-hero-sub .span4 .leftnav .leftnav-1 .leftnav-item .lefterji{
	width: 795px;
	height: 460px;
	background: white;
	position: absolute;
	top: -20px;
	left: 234px;
	display: none;

}
.home-hero-sub .span4 .leftnav .leftnav-1 .leftnav-item:hover .lefterji{
	display: block;
}
.lefterji .children-list{
	height: 460px;
	padding: 2px 0;
}
.lefterji .children-list-col{
	float: left;
    width: 265px;
}
.lefterji .children-list li {
    position: relative;
    float: left;
    width: 265px;
    height: 76px;
}
.lefterji .children-list li .link{
	display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    width: 170px;
    padding-right: 0;
}
.lefterji .children-list li .link .tutu{
	margin-right: 12px;
	display: block;
	float: left;
}
.lefterji .children-list li .link .text{
	line-height: 40px;
	display: block;
	float: left;
}
.lefterji .children-list li .btn-buy {
    position: absolute;
    right: 10px;
    top: 26px;
    width: 58px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
    text-align: center;
}
.home-hero-sub .span4 .leftnav .leftnav-1 .leftnav-item .lefterji1{
	width: 265px;
	height: 460px;
	background: white;
	position: absolute;
	top: -62px;
	left: 234px;
	display: none;

}
.home-hero-sub .span4 .leftnav .leftnav-1 .leftnav-item .lefterji2{
	position: absolute;
	width: 530px;
	top: -104px;
	left: 234px;
	height: 460px;
}
.home-hero-sub .span4 .leftnav .leftnav-1 .leftnav-item .lefterji3{
	position: absolute;
	width: 530px;
	top: -146px;
	left: 234px;
	height: 460px;
}
.nav a{
	color: #333;
	font-size: 14px;
}
.nav a:hover{
	color: #ff6700;
}